.head{
    font-family: system-ui;
    font-size: 80px;
    font-weight: 500;
}

body {
    background-color: lightblue;
}

header {
    margin-bottom: 20px;
}

#timer {
    font-size: 50px;
}

#limit {
    font-size: 40px;
}

.min {
    margin-bottom: 50px;
}